.container
  - for (i = 0; i < 400; i++)
    .trigger
  .monitor
    .camera.-x
      .camera.-y
        .camera.-z
          .world
            - for (i = 0; i < 10; i++)
              .set
                .hole
                  .wall
                  .wall
                  .wall
                  .wall
                  .wall.-cover
                .plug
                  .in
                    .wall
                    .wall
                    .wall