.meme-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    padding-top: 20px;
}

.meme-card .meme {
    max-width: 200px;
    max-height: 500px;
    border: 2px solid black;
    margin: 10px;
}