.wrap-loader
  .loader
    - for (var i = 1; i <= 4; i++)
      .box
    .wrap-text  
      .text
        each val in ['L', 'O', 'A', 'D', 'I', 'N', 'G', '...']
          span= val
  .loader-text wait please